* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box1 {
  height: 100vh;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 80vh;
  max-width: 80vw;
}
